@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}


/*Configuração inputs e button*/

input,button{
    border-radius: 10px;
}

.login{
    width: 100%;
    /* height: 100vh; */
    display: flex;
}

.login .box-left{
    width: 50%;
    height: 100vh;
    min-height: auto;
    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(236,236,236,1) 50%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-left .slogan{
    color: #616161;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.box-right{
    width: 50%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    
}

.box-container-right{
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-left: 100px;
}

.box-right form{
    width: 353px;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    /* position: relative;
    top: 120px;
    left: 100px; */
}

form .box-input{
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-bottom: 1px solid #9747FF;
    display: flex;
    align-items: center;
}

form .box-input i{
    font-size: 21px;
    color: #616161;
}

.box-input input{
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    outline: none;
    border: none;
}

.box-esqueceu-senha{
    display: flex;
    justify-content: left;
    margin: 20px 0 30px 0;
}

.box-esqueceu-senha a{
    color: #616161;
    font-weight: bold;
    font-size: 16px;
}

.box-buttons{
    width: 100%;
    display: flex;
}

.box-buttons button{
    width: 50%;
    border: none;
}

.box-opcoes-button .button-entrar{
    width: 115px;
    padding: 10px 20px;
    margin-top: 30px;
    color: #616161;
    background-color: white;
    border: 1px solid #9747FF;
    border-radius: 11px;
    cursor: pointer;
}

.box-line-opcoes{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.box-line-opcoes .line{
    width: 50%;
    height: 1px;
    margin: 10px;
    background-color: #616161;
}

.box-line-opcoes span{
    width: 223px;
    text-align: center;
}


.box-opcoes-button{
    width: 302px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box-opcoes-button .button-google{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: left;
    cursor: pointer;
}

.button-google{
    padding: 10px 20px;
}

.box-opcoes-button .button-cadastro{
  width: 302px;
  padding: 15px 20px 15px 60px;
  background-color: #232F3E;
  color: white;
  border: none;
  margin: 20px 0;
  text-align: left;
  cursor: pointer;
}


.button-google img{
    margin-right: 10px;
}

.box-bottom-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-bottom-nav ul{
    display: flex;
    list-style-type: none;
}

.box-bottom-nav ul li{
    margin: 0 20px;
}

.box-bottom-nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #616161;
}

@media screen and (max-height:623px){
    .login .box-left{
        height: 623px;
    }
}


@media screen and (max-width:870px){
    .login{
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }

    .login .box-left{
        width: 100%;
        height: auto;
        padding: 40px;
        border-radius: 10px;
        margin: 20px 0;
    }
    
    .box-right{
        width: 100%;
        min-height: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: none;
        justify-content: none;
    }

    .box-container-right{
        padding-top: 0;
        padding-left: 0;
    }
    
    .box-right form{
        width: 100%;
        height: auto;
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){

    .box-left img{
        width: 450px;
    }
}

@media screen and (max-width:450px){
    .box-left img{
        width: 350px;
    }

    .box-left .slogan{
        text-align: center;
    }
}

@media screen and (max-width:420px){

    .box-left img{
        width: 300px;
    }

    
    .box-left .slogan{
        font-size: 15px;
    }

    .box-line-opcoes span{
        font-size: 14px;
    }

}

@media screen and (max-width:350px){

    .box-left img{
        width: 300px;
    }

}

@media screen and (max-width:300px){

    .box-left img{
        width: 250px;
    }
}

@media screen and (max-width:250px){

    .box-left img{
        width: 100%;
    }
}